.state {
  width: 70%;
  margin: 30px auto;
}

.icon {
  position: relative;
  left: -30px;
  cursor: pointer;

  * {
    width: 18px;
    height: 18px;
  }
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  width: 100%;
}

.node {
}