.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 400px;
  margin-top: 25px;
}

.input {
  width: 100%;
}

.text {
  font-weight: 500;
  margin-top: 5px;

  span {
    color: #5B8CEB;
  }
}

.textarea {
  min-height: 100px !important;
  max-height: calc(100vh - 500px);
}

.btn {
  background-color: #df3636;
}

.btns {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  gap: 15px;
}