.block {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.container {
  max-width: 60%;
}

.header {
  padding-inline: 10px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list {
}

.icon {
  * {
    width: 18px;
    height: 18px;
  }
}
