.disabled {
  background-color: rgba(30, 32, 32, 0.1);
  border: none;
}

.invalid {
  border-color: #df3636;
  color: #df3636;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}

.error {
  color: #df3636;
  font-weight: 500;
  font-size: 13px;
  animation: error-enter 150ms ease forwards;
  transform: translateY(-30px);
}

@keyframes error-enter {
  0% {
    transform: translateY(-30px);
  }


  100% {
    transform: translateY(0px);
  }
}